.body-container{
    display: flex;
    width: 1200px
}

.body-container__left-sidebar{
    width: 83%
}

.body-container__right-sidebar{
    padding-top: 30px;
    width: 17%
}

@media only screen and (max-width: 1100px) {

}