.body-container{
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: 0 auto;
    max-width: 1200px;
}

.body-container__left-sidebar{
    width: 85%
}

.body-container__right-sidebar{
    padding-top: 30px;
    width: 15%
}

.body-container-maps{
    width: 87%;
    margin: 0 auto;
    max-width: 1200px;
}

@media only screen and (max-width: 1100px) {
    .body-container__left-sidebar{
        width: 75%
    }
    .body-container__right-sidebar{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media only screen and (max-width: 900px) {
    .body-container__right-sidebar{
        display: none;
    }
    .body-container__left-sidebar{
        width: 100%
    }
}