.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 10px;
}

.bg-light{
    background-color: transparent !important;
    background-image: url(../img/navbar.png)  !important;
    background-size: 100% 100%;
}

.dropdown:hover{
    color: white !important;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}

.navbar-ava{
    width: 9%;
    background-color: #e20e12;
}

.navbar-main_block{
    width: 90%;
}

.navbar-text{
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.06);
    color: #e3000f;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
}

.main-card{
    width: 47%;
    height: 370px;
    margin-right: 30px;
    margin-top: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ffffff;
    background-color: #eaeaea;
    position: relative;
}

.main-card__lenta {
    position: absolute;
    left: 10px;
    background-image: url(../img/lenta.png);
    width: 27px;
    height: 59px;
}

.main-card__line {
    position: absolute;
    top: 44px;
    left: 50px;
    background-color: #e20e12;
    width: 88%;
    height: 1px;
}

.main-card__title {
    position: absolute;
    top: 17px;
    left: 50px;
    width: 113px;
    height: 17px;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.06);
    color: #e3000f;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
}

.card-row {
    display: flex;
}

.main-adv {
    width: 100%;
    height: 210px;
    min-width: 168px;
    max-width: 170px;
    background-color: #eaeaea;
    margin-bottom: 20px;
    position: relative;
}

.main-adv-img {
    background-image: url(../img/img_adv_1.png);
    background-size: cover;
}

.main-adv__title{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    padding-left: 15px;
    color: #ffffff;
    font-family: "Arial-BoldMT";
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    background-color: #da0000;
}

@media only screen and (max-width: 1100px) {
    .card-row {
        display: block;
    }
    .main-card{
        width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .navbar-ava{
        display: none
    }
    .navbar-main_block{
        width: 100%;
    }
    .main-card{
        margin-right: 0px;
    }
  }