body {
  margin: 0 auto;
  padding-top: 75px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#e3e3e3
}

#root{
  max-width: 75%;
  padding-left: 100px;
  padding-right: 100px;
  display: inline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1{
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt2{
  margin-top: 2rem;
}

.todo{
  margin-bottom: 1rem;
}

.todo.completed span{
  text-decoration: line-through;
}

.todo label{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: #f3f3f3;
}

.todo i{
  z-index: 2;
}



@font-face {
  font-family: 'Arial-BoldMT';
  src: local('Arial-BoldMT'), url(./fonts/Arial-BoldMT.otf) format('truetype');
}

@font-face {
  font-family: 'Arial MT';
  src: local('ArialMTStd-Medium'), url(./fonts/ArialMTStd-Medium.otf) format('truetype');
}